In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.graph_objects as go
import plotly.express as px

In [ ]:
!pip install plotly

In [ ]:
df_final = pd.read_csv(r'C:\Sample_Data\New_Folder\final_data_cleaned_17nov.csv')

In [ ]:
df_final

In [ ]:
data_cleaned = df_final.loc[:, ~df_final.columns.str.contains('^Unnamed')]

# Check whether NAN value in Citizenship column in dataframe

In [ ]:
column_name = 'Citizenship'

In [ ]:
nan_count = data_cleaned[column_name].isnull().sum()
print(f"The column '{column_name}' contains {nan_count} NaN value(s).")

# Check whether 'NAN' value contains in a dataframe

In [ ]:
nan_df = data_cleaned.isna()

In [ ]:
nan_df

# To Count NaN Values in a Column

In [ ]:
nan_count = data[column_name].isnull().sum()
print(f"The column '{column_name}' contains {nan_count} NaN value(s).")

# Remove rows with NaN or False values

In [ ]:
modified_df = data_cleaned[~df_final.isna().any(axis=1)]

In [ ]:
modified_df

In [ ]:
column_name = 'AgeYears'
if column_name in modified_df.columns:
    print(f"Column '{column_name}' exists in the dataset.")
else:
    print(f"Column '{column_name}' does not exist in the dataset.")

# Clean missing value in a Dataframe

In [ ]:
modified_df.isnull().sum()

In [ ]:
fig = go.Figure(data=[
    go.Bar(name='Diabetic', x=df_final['AgeYears'], y=df_final['is_diabetic'], marker = {'color': 'red'}),
    go.Bar(name='High Risk', x=df_final['AgeYears'], y=df_final['high_risk'], marker = {'color': 'blue'}),
])

In [ ]:
fig.update_traces(dict(marker_line_width=0))

In [ ]:
fig.update_layout(barmode='group', title="Count of Diabetic and High Risk Individuals per AgeYears", yaxis_title="Count of Diabetic & High Risk Individuals", xaxis_title="AgeYears")
fig.update_xaxes(categoryorder='category ascending')
fig.show()

In [ ]:
fig.update_xaxes(categoryorder='category ascending')

In [ ]:
fig.show()

In [ ]:
s1 = modified_df[modified_df['is_diabetic'] == 1].sample(896).index
s0 = modified_df[modified_df['is_diabetic'] == 0].sample(1796).index

In [ ]:
final_modified_df = modified_df.loc[s0.union(s1)]

In [ ]:
print('True Negative: {}'.format(final_modified_df[(final_modified_df['high_risk'] == 0) & (final_modified_df['is_diabetic'] == 0)].shape[0]))

In [ ]:
print('True Positive: {}'.format(final_modified_df[(final_modified_df['high_risk'] == 1) & (final_modified_df['is_diabetic'] == 1)].shape[0]))

In [ ]:
print('False Negative: {}'.format(final_modified_df[(final_modified_df['high_risk'] == 0) & (final_modified_df['is_diabetic'] == 1)].shape[0]))

In [ ]:
print('False Positive: {}'.format(final_modified_df[(final_modified_df['high_risk'] == 1) & (final_modified_df['is_diabetic'] == 0)].shape[0]))