# Loading Libraries

In [11]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import model_selection
from sklearn.decomposition import PCA

from sklearn.feature_selection import SelectFromModel

from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, plot_tree

from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn import metrics
from sklearn.metrics import accuracy_score

import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

# Read data from a Dataframe

In [13]:
with open('C:\\Sample_Data\\New_folder\\Merged_Raw.csv', 'r', encoding='utf-8') as f:
    text = f.read()

In [15]:
data = pd.read_csv(r'C:\\Sample_Data\\New_folder\\Merged_Raw.csv')

In [17]:
data

,Unnamed: 0.1,SEQN,Cadmium (ug/L),Lead (ug/dL),Blood manganese (ug/L),"Mercury, total (ug/L)",Blood selenium(ug/L),LDL-Cholesterol,Lymphocyte number,Monocyte number,...,BirthCountry,Citizenship,USStayLength,EduLevelAdult,MaritalStatus,PregnancyStatus,PeopleHH,FamilyIncome,PovertyRatio,is_diabetic
0,0,73559,0.22,1.45,9.57,1.27,209.64,126.00,1.0,0.80,...,USA,USCitizen,Unknown,College/AA,Married,NotApplicable,2,65-75k,4.51,1
1,1,73564,0.37,1.00,16.80,0.42,195.62,168.00,1.6,0.30,...,USA,USCitizen,Unknown,College/Above,Widowed,Unknown,1,65-75k,5.00,0
2,2,73580,0.07,0.31,4.22,0.46,188.00,225.00,1.7,0.50,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotPregnant,6,>20k,NaN,0
3,3,73607,0.50,1.35,8.31,0.33,219.00,161.00,2.3,0.60,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2,15-20k,1.08,0
4,4,73621,0.36,1.38,8.14,0.87,212.84,161.00,0.8,0.40,...,USA,USCitizen,Unknown,College/Above,Married,NotApplicable,2,75-99k,5.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9887,9887,83718,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,...,USA,USCitizen,Unknown,HighSchool/GED,Widowed,Unknown,1,NaN,NaN,0
9888,9888,83721,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,...,NON-USA,USCitizen,5-10,College/Above,Married,NotApplicable,2,>100k,5.00,0
9889,9889,83724,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2,45-55k,3.09,0
9890,9890,83726,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,...,NON-USA,NonUSCitizen,15-20,>9Grade,Separated,NotApplicable,2,55-65k,3.81,0
9891,9891,83728,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,...,USA,USCitizen,Unknown,Unknown,Unknown,Unknown,4,45-55k,1.95,0

# Unanmed Column

In [19]:
df = data.loc[:, ~data.columns.str.contains('^Unnamed')]

# Missing values in a Dataframe

In [21]:
df.isnull().sum()

SEQN                        0
Cadmium (ug/L)              0
Lead (ug/dL)                0
Blood manganese (ug/L)      0
Mercury, total (ug/L)       0
                         ...
PregnancyStatus             0
PeopleHH                    0
FamilyIncome              100
PovertyRatio              688
is_diabetic                 0
Length: 102, dtype: int64

# Drop column if it is duplicated

In [23]:
df.dropna()

,SEQN,Cadmium (ug/L),Lead (ug/dL),Blood manganese (ug/L),"Mercury, total (ug/L)",Blood selenium(ug/L),LDL-Cholesterol,Lymphocyte number,Monocyte number,Segmented neutrophils number,...,BirthCountry,Citizenship,USStayLength,EduLevelAdult,MaritalStatus,PregnancyStatus,PeopleHH,FamilyIncome,PovertyRatio,is_diabetic
0,73559,0.22,1.45,9.57,1.27,209.64,126.00,1.0,0.80,4.90,...,USA,USCitizen,Unknown,College/AA,Married,NotApplicable,2,65-75k,4.51,1
1,73564,0.37,1.00,16.80,0.42,195.62,168.00,1.6,0.30,3.00,...,USA,USCitizen,Unknown,College/Above,Widowed,Unknown,1,65-75k,5.00,0
3,73607,0.50,1.35,8.31,0.33,219.00,161.00,2.3,0.60,3.80,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2,15-20k,1.08,0
4,73621,0.36,1.38,8.14,0.87,212.84,161.00,0.8,0.40,2.80,...,USA,USCitizen,Unknown,College/Above,Married,NotApplicable,2,75-99k,5.00,1
5,73633,0.07,0.59,9.62,0.20,168.49,195.00,2.1,0.50,5.00,...,USA,USCitizen,Unknown,College/Above,Married,NotPregnant,4,75-99k,3.56,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9886,83717,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,NON-USA,NonUSCitizen,20-30,>9Grade,Widowed,Unknown,7,25-35k,0.70,0
9888,83721,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,NON-USA,USCitizen,5-10,College/Above,Married,NotApplicable,2,>100k,5.00,0
9889,83724,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2,45-55k,3.09,0
9890,83726,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,NON-USA,NonUSCitizen,15-20,>9Grade,Separated,NotApplicable,2,55-65k,3.81,0
9891,83728,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,USA,USCitizen,Unknown,Unknown,Unknown,Unknown,4,45-55k,1.95,0

# Column in a Dataframe

In [25]:
col = df.columns

In [27]:
print('Number of columns :', len(col))

Number of columns : 102

In [29]:
X_unscaled = df.iloc[:, :99]

# Separate column between X and Y

In [33]:
X_unscaled

,SEQN,Cadmium (ug/L),Lead (ug/dL),Blood manganese (ug/L),"Mercury, total (ug/L)",Blood selenium(ug/L),LDL-Cholesterol,Lymphocyte number,Monocyte number,Segmented neutrophils number,...,Gender,AgeYears,Race,BirthCountry,Citizenship,USStayLength,EduLevelAdult,MaritalStatus,PregnancyStatus,PeopleHH
0,73559,0.22,1.45,9.57,1.27,209.64,126.00,1.0,0.80,4.90,...,Male,72.0,White,USA,USCitizen,Unknown,College/AA,Married,NotApplicable,2
1,73564,0.37,1.00,16.80,0.42,195.62,168.00,1.6,0.30,3.00,...,Female,61.0,White,USA,USCitizen,Unknown,College/Above,Widowed,Unknown,1
2,73580,0.07,0.31,4.22,0.46,188.00,225.00,1.7,0.50,2.80,...,Female,38.0,Black,USA,USCitizen,Unknown,HighSchool/GED,Married,NotPregnant,6
3,73607,0.50,1.35,8.31,0.33,219.00,161.00,2.3,0.60,3.80,...,Male,75.0,White,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2
4,73621,0.36,1.38,8.14,0.87,212.84,161.00,0.8,0.40,2.80,...,Male,80.0,White,USA,USCitizen,Unknown,College/Above,Married,NotApplicable,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9887,83718,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,Female,60.0,Black,USA,USCitizen,Unknown,HighSchool/GED,Widowed,Unknown,1
9888,83721,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,Male,52.0,White,NON-USA,USCitizen,5-10,College/Above,Married,NotApplicable,2
9889,83724,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,Male,80.0,White,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2
9890,83726,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,Male,40.0,Mexican American,NON-USA,NonUSCitizen,15-20,>9Grade,Separated,NotApplicable,2
9891,83728,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,Female,2.0,Mexican American,USA,USCitizen,Unknown,Unknown,Unknown,Unknown,4

In [ ]:
df.dropna(inplace=True)

In [39]:
df

,SEQN,Cadmium (ug/L),Lead (ug/dL),Blood manganese (ug/L),"Mercury, total (ug/L)",Blood selenium(ug/L),LDL-Cholesterol,Lymphocyte number,Monocyte number,Segmented neutrophils number,...,BirthCountry,Citizenship,USStayLength,EduLevelAdult,MaritalStatus,PregnancyStatus,PeopleHH,FamilyIncome,PovertyRatio,is_diabetic
0,73559,0.22,1.45,9.57,1.27,209.64,126.00,1.0,0.80,4.90,...,USA,USCitizen,Unknown,College/AA,Married,NotApplicable,2,65-75k,4.51,1
1,73564,0.37,1.00,16.80,0.42,195.62,168.00,1.6,0.30,3.00,...,USA,USCitizen,Unknown,College/Above,Widowed,Unknown,1,65-75k,5.00,0
2,73580,0.07,0.31,4.22,0.46,188.00,225.00,1.7,0.50,2.80,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotPregnant,6,>20k,NaN,0
3,73607,0.50,1.35,8.31,0.33,219.00,161.00,2.3,0.60,3.80,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2,15-20k,1.08,0
4,73621,0.36,1.38,8.14,0.87,212.84,161.00,0.8,0.40,2.80,...,USA,USCitizen,Unknown,College/Above,Married,NotApplicable,2,75-99k,5.00,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9887,83718,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,USA,USCitizen,Unknown,HighSchool/GED,Widowed,Unknown,1,NaN,NaN,0
9888,83721,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,NON-USA,USCitizen,5-10,College/Above,Married,NotApplicable,2,>100k,5.00,0
9889,83724,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,USA,USCitizen,Unknown,HighSchool/GED,Married,NotApplicable,2,45-55k,3.09,0
9890,83726,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,NON-USA,NonUSCitizen,15-20,>9Grade,Separated,NotApplicable,2,55-65k,3.81,0
9891,83728,0.79,1.62,11.19,2.41,205.41,222.35,2.2,0.54,3.93,...,USA,USCitizen,Unknown,Unknown,Unknown,Unknown,4,45-55k,1.95,0

In [47]:
df.loc[df['PeopleHH'] > 3 , 'large_family'] = 1
df.loc[df['PeopleHH'] <= 3 , 'large_family'] = 0
df.loc[~df['EduLevelAdult'].isin(['College/AA', 'College/Above', '>HighSchool']) , 'college_educated'] = 0
df.loc[df['EduLevelAdult'].isin(['College/AA', 'College/Above', '>HighSchool']) , 'college_educated'] = 1
df.loc[df['EduLevelAdult'].isin(['Unknown', 'DontKnow']) , 'college_educated'] = 2
df.loc[df['FamilyIncome'].isin(['<5k','5-10k', '10-15k','15-20k', '20-25k', '25-35k','35-45k', '45-55k']) , 'FamilyIncome'] = 'Low'
df.loc[df['FamilyIncome'].isin(['55-65k','65-75k', '75-99k']) , 'FamilyIncome'] = 'Medium'
df.loc[df['FamilyIncome'].isin(['>100k']) , 'FamilyIncome'] = 'High'

In [51]:
df.loc[df['USStayLength'].isin(['Unknown','DontKnow', 'Refused']) , 'USStayLength'] = 'Unknown'
df.loc[df['USStayLength'].isin(['<1', '1-5', '5-10']) , 'USStayLength'] = 'Short Term (< 10 Years)'
df.loc[df['USStayLength'].isin(['10-15', '15-20','20-30', '30-40','40-50', '>50']) , 'USStayLength'] = 'Long Term (> 10 Years)'

In [55]:
df.loc[df['Citizenship'] != 'USCitizen', 'Citizenship'] = 0
df.loc[df['Citizenship'] == 'USCitizen', 'Citizenship'] = 1

In [59]:
changed_col = ['PeopleHH', 'EduLevelAdult']
df.drop(columns=changed_col, inplace = True)

In [61]:
df.loc[df['MaritalStatus'].isin(['Unknown','DontKnow', 'Refused']) , 'MaritalStatus'] = 'Unknown'
df.loc[df['MaritalStatus'].isin(['Divorced', 'Separated', 'Widowed']) , 'MaritalStatus'] = 'Separated/Divorced'
df.loc[df['MaritalStatus'].isin(['Married', 'LivingIn']) , 'MaritalStatus'] = 'Married'
df.loc[df['MaritalStatus'].isin(['NeverMarried']) , 'MaritalStatus'] = 'Single'

In [66]:
df['high_risk'] = 0
df.loc[(df['AgeYears'] <= 20) & (df['Body Mass Index (kg/m**2)'] >= 25) & (df['Glycohemoglobin (%)'] >= 5.7) & (df['Two Hour Glucose(OGTT) (mg/dL)'] >= 140), 'high_risk'] = 1
df.loc[(df['AgeYears'] > 20) & (df['AgeYears'] <= 40) & (df['Body Mass Index (kg/m**2)'] >= 25) & (df['Glycohemoglobin (%)'] >= 5.7) & (df['Two Hour Glucose(OGTT) (mg/dL)'] >= 120), 'high_risk'] = 1
df.loc[(df['AgeYears'] > 40) & (df['Body Mass Index (kg/m**2)'] >= 25) & (df['Glycohemoglobin (%)'] >= 5.7) & (df['Two Hour Glucose(OGTT) (mg/dL)'] >= 100), 'high_risk'] = 1

In [ ]:
df[(df['high_risk'] > 0) & (df['is_diabetic'] > 0)]

In [72]:
df.to_csv('final_data_cleaned_17nov.csv')